<div ng-controller="HeaderController" >
    <header id="header" class="navbar navbar-fixed-top">
        <nav class="navbar-inner">
                <div class="container">
                    <a href="/" class="brand">Spottd.me</a>
                </div>
        </nav>
</header>
<div class="row">
    <div class="span4">
        <ul class="breadcrumb nav nav-tabs">
            <li>
                <a  href="#/posts"><i class="icon-ok-sign"></i> All Posts</a>
            </li>
        </ul>
    </div>
    <div>
        <div ng-repeat="tag in tags" class="span4">{{tag}} </div>

    </div>
    <div class="span4">
        <form class="pull-right">
            <input type="text" class="search-query" placeholder="Search...">
        </form>
    </div>
</div>

</div>
