<!doctype html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1&appId=144861229023265";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<body>
<div class="container">
    <a class="btn btn-large btn-primary btn-block visible-phone" href="#"><span class="btn-label">Sign Up Today!</span></a>
    <div class="row main-features">
        <div class="span6">
            <div id="fb-root"></div>

            <div class="well">
                <p><input type="text" ng-model="newPost" placeholder="Write here who you saw"> </p>
                <a class="btn btn-primary" ng-click="addPost()"><span class="btn-label">Add new</span></a>
            </div>
            <!--<div class="well" class="commentsWell">-->
                <!--<p>This is a test post.</p>-->
                <!--<fb:comments class="comments" href="http://www.spottd.me/42353453453/" width="470" num_posts="2"></fb:comments>-->
                <!--<p><a href="#">See more comments...</a></p>-->
            <!--</div>-->

            <div class="well" ng-repeat="post in posts | orderBy:id" ng-show="!isOdd(post)">
                    <p>{{post.text}}</p>

                <span ng-repeat="tag in post.tags">{{tag}} </span>
                    <div class="well">
                        <fb:comments class="comments" href="http://spottdme.herokuapp.com//posts/{{post.id}}/" width="470" num_posts="2"></fb:comments>
                        <p><a href="#">See more comments...</a></p>

                    </div>
                <p>{{post.created_at | fromNow}}</p>
            </div>

        </div>
        <div class="span6">
            <div class="well" ng-repeat="post in posts | orderBy:id" ng-show="isOdd(post)">
                <p>{{post.text}}</p>

                <span ng-repeat="tag in post.tags">{{tag}} </span>
                <div class="well">
                    <fb:comments class="comments" href="http://spottdme.herokuapp.com/posts/{{post.id}}/" width="470" num_posts="2"></fb:comments>
                    <p><a href="#">See more comments...</a></p>

                </div>
                <p>{{post.created_at | fromNow}}</p>
            </div>
        </div>
    </div>
</div>
</body>

</html>
