<div class="container">
    <a class="btn btn-large btn-primary btn-block visible-phone" href="#"><span class="btn-label">Sign Up Today!</span></a>
    <div class="row main-features">
        <div class="span6">
            

            <div class="well">
                <p><input type="text" ng-model="newPost" placeholder="Write here who you saw"> </p>
                <a class="btn btn-primary" ng-click="addPost()"><span class="btn-label">Add new</span></a>
            </div>
            <!--<div class="well" class="commentsWell">-->
                <!--<p>This is a test post.</p>-->
                <!--<fb:comments class="comments" href="http://www.spottd.me/42353453453/" width="470" num_posts="2"></fb:comments>-->
                <!--<p><a href="#">See more comments...</a></p>-->
            <!--</div>-->

            <div class="well" ng-repeat="post in posts | orderBy:id" ng-show="!isOdd(post)">
                    <p>{{post.text}}</p>

                <span ng-repeat="tag in post.tags">{{tag}} </span>
                    <div class="well">
                        <div class="fb-comments" data-href="http://spottdme.herokuapp.com//posts/{{post.id}}/" data-width="470" data-num-posts="2"></div>
                        <!--<fb:comments class="comments" href="http://spottdme.herokuapp.com//posts/{{post.id}}/" width="470" num_posts="2"></fb:comments>-->
                        <p><a href="#">See more comments...</a></p>

                    </div>
                <p>{{post.created_at | fromNow}}</p>
            </div>

        </div>
        <div class="span6">
            <div class="well" ng-repeat="post in posts | orderBy:id" ng-show="isOdd(post)">
                <p>{{post.text}}</p>

                <span ng-repeat="tag in post.tags">{{tag}} </span>
                <div class="well">
                    <div class="fb-comments" data-href="http://spottdme.herokuapp.com//posts/{{post.id}}/" data-width="470" data-num-posts="2"></div>

                    <!--<fb:comments class="comments" href="http://spottdme.herokuapp.com/posts/{{post.id}}/" width="470" num_posts="2"></fb:comments>-->
                    <p><a href="#">See more comments...</a></p>

                </div>
                <p>{{post.created_at | fromNow}}</p>
            </div>
        </div>
    </div>
</div>
