<div>
  <div class="new_comment"><textarea placeholder="What's on your mind?"></textarea></div>
  <% @posts.each do |post| %>
    <div id="post<%= post.id %>" class="span6">
      <p><%= post.text %></p>
    </div>
  <% end %>
</div>
