
.main-features {
  margin-top: 10px;
}
.label{
  font-size: 20px !important
}
.search-query {
  margin: 10px !important
}
.comments{
  overflow: visible !important
}
.comments span{
  overflow:visible;
}
.comments span iframe{
  height: 400px !important;
}
.commentsWell{
  overflow: visible
}